<ion-nav-bar class="bar-royal">
  </ion-nav-bar>

<ion-floating-menu has-footer="true" menu-color="#886aea" menu-icon="ion-plus" iconColor="#fff" menu-open-color="#886aea">
    <ion-floating-item menu-color="#886aea" menu-open-color="#886aea" icon="ion-camera" click="myEvent()"></ion-floating-item>
    <ion-floating-item menu-color="#886aea" menu-open-color="#886aea" icon="ion-person" click="myEvent()"></ion-floating-item>
</ion-floating-menu>


<ion-content class="has-subheader">
  <ul  class="list">
    <li ng-repeat="itemess in vm.items.getFilterValue()" class="item">
      {{itemess.name}}
    </li>
  </ul>
</ion-content>
